{% extends "base.html" %} 
{% block content %}

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>task</th>
        <th>due date</th>
        <th>is done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>do homework</td>
        <td>2023/04/27</td>
        <td>no</td>
      </tr>
      <tr>
        <td>2</td>
        <td>practice a song 30 times</td>
        <td>2023/04/25</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>3</td>
        <td>run 5 laps around the field</td>
        <td>2023/04/30</td>
        <td>no</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
