{% extends "base.html" %} {% block content %}
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>MAIN_CHARACTER</th>
        <th>AUTHOR</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{book[0]}}</td>

        <td>{{book[1]}}</td>
        <td>{{book[2]}}</td>
        <td>{{book[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row">
  <a href="/createbook" class="btn btn-success">Create book</a>
</div>
{%endblock%}
